@charset "utf-8";
/*Normalize.css*/
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {display: block;}
audio,canvas,progress,video {display: inline-block;vertical-align: baseline;}
body, dl, dd, h1, h2, h3, h4, h5, h6, p, form{margin:0;}
body{background: #fff;font-family:"Microsoft Yahei","微软雅黑","Arial","Microsoft Jhenghei","sans-serif","Tahoma","宋体";}
ol,li,ul{margin:0; padding:0;list-style:none;}
table{border-collapse:collapse;border-spacing:0;table-layout:fixed;word-wrap:break-word;}
del{text-decoration: line-through;}

img{border:none;}
i,em,cite{ font-style:normal;}
strong, b{font-weight: bold;}
small {font-size: 80%;}

code,kbd,pre,samp{font-family: monospace, serif;font-size: 1em;}
pre{white-space: pre;white-space: pre-wrap;word-wrap: break-word;}
button,input,select,textarea {font-family: inherit;font-size: 100%;margin: 0;} 
/*input:focus,textarea:focus,span:focus,a:focus,button:focus{outline:none;}*/ /* 去掉chrome下input和textarea的选中发光样式 */
label,input,textarea {display: inline-block;vertical-align: middle;}
input[type=button]{-webkit-appearance:none;outline:none;}
textarea {resize:none;overflow: auto;vertical-align: top;}
a{cursor: pointer;text-decoration: none;color: #333;display: inline-block;}
a:link,a:visited{}
a:hover,a:active{text-decoration:none;outline:0;}

h1, h2, h3, h4, h5, h6 {font-size: 100%;font-weight: normal;}
/*移动端*/
body{min-width:320px;max-width:640px;margin:0 auto;font-family:"Microsoft Yahei",Microsoft Jhenghei,Tahoma,Arial}

.header{width:100%;height:75px;line-height: 75px;background:#333;font-size: 32px;
	text-align:center;position: relative;clear: both;}

/*公共库*/
.fl{ float:left; }
.fr{ float:right;}
.p-r{ position:relative}
.p-a{ position:absolute}

.clearfix:after { 
  content:"\200B"; 
  display:block; 
  height:0; 
  clear:both; 
} 
.clearfix{*zoom:1;}/*IE/7/6*/

/*蒙层*/
.mask{ background:rgba(0,0,0,0.9); width:100%; height:100%; position:fixed; top:0; left:0; z-index:10;}

.t-over { text-overflow: ellipsis; white-space: nowrap;overflow:hidden;}   /* 不允许断行,超出用...代替 */
.t-ovr { white-space: nowrap;}  /** 不允许断行   */
.t-num{text-wrap: none; word-break: normal; }/* 数字不断行 */
.t-letter{word-break: normal;}/* 单词不断行 */
.box-justify { -webkit-box-pack:justify; }
.textcenter{text-align: center;}
.center{margin:0 auto;display: inline-block;}
.w100{width:100%;}
p.text{text-indent:2em;}

/*常用*/
@media screen(min-width:360px) and (max-width:640px) { 
.aaaaaa{  }
.bbbbbb{  }
}

/*雪碧图背景*/
.xuebi-bgimg{ background: url(../images/icon.png) no-repeat 6px 7px;
    height: 30px;
    width: 20px;
    background-size: cover;}


/*模糊*/
.m-o-h-u{-webkit-filter: blur(5px); 
    -moz-filter: blur(5px);
    -mz-filter: blur(5px);
    -o-filter: blur(5px);
    }

/*不透明度*/
.f-i-l-ter{opacity: 0.6;filter:alpha(opacity=60);}

/*css3 animate 属性*/
.a-b-c-d{
  animation-name:'wobble12345';/*动画属性名即 keyframes定义的动画名*/
  animation-duration: 10s;/*动画持续时间*/
  animation-timing-function: ease-in-out; /*动画频率，和transition-timing-function是一样的*/
  animation-delay: 2s;/*动画延迟时间*/
  animation-iteration-count: 10;/*定义循环资料，infinite为无限次*/
  animation-direction: alternate;
  /*定义动画多次播放时的方式 ，是否应该轮流反向播放动画。值是 "alternate"，动画会在奇数次数（1、3、5 等）正常播放，而在偶数次数（2、4、6 等等）向后播放。如动画只播放一次，该属性没有效果。*/
  animation-fill-mode: forwards; /*动画结束后保留最后状态(帧)*/
	/*缩写*/
  animation:wobble12345 10s ease-in  2s 10 both;
}
/*动画帧*/
@keyframes wobble12345 {
    0% {-webkit-transform: rotate(0)}
    100% { -webkit-transform: rotate(360deg)}
}











